absl-py==1.0.0
anyio==3.3.4
appdirs==1.4.4
arandr==0.1.10
argcomplete==1.12.0
astroid==2.8.2
astunparse==1.6.3
attrs==20.3.0
autopep8==1.5.7
Babel==2.9.1
bcrypt==3.1.7
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.3.3
blivet-gui==2.3.0
Brlapi==0.8.2
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.4
Cerberus==1.3.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.7
Cheetah3==3.2.4
chrome-gnome-shell==0.0.0
click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.6
cupshelpers==1.0
cycler==0.10.0
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.0rc2
distlib==0.3.1
distro==1.5.0
docker==4.4.4
docker-compose==1.28.6
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
downloader-cli==0.3.1
ffmpeg-python==0.2.0
filelock==3.0.12
first==2.0.2
Flask==1.1.1
flatbuffers==2.0
fros==1.1
future==0.18.2
gast==0.4.0
git-filter-repo==2.33.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpg==1.15.1
greenlet==1.1.2
grpcio==1.43.0
gssapi==1.6.9
h11==0.12.0
h5py==3.6.0
httpcore==0.13.7
httpie==2.6.0
httpx==0.20.0
humanize==0.5.1
idna==2.10
importlib-metadata==4.10.1
iso8601==0.1.13
isort==5.9.3
itsdangerous==2.0.1
itunespy==1.6.0
Jinja2==2.11.3
joblib==1.1.0
jsonschema==3.2.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
koji==1.27.0
langtable==0.0.56
lazy-object-proxy==1.6.0
libclang==12.0.0
libcomps==0.1.18
lxml==4.6.3
Mako==1.1.4.dev0
Markdown==3.3.6
MarkupSafe==1.1.1
matplotlib==3.4.3
mccabe==0.6.1
MouseInfo==0.1.3
msgpack==1.0.2
musicbrainzngs==0.7.1
mutagen==1.45.1
nftables==0.1
numpy==1.20.1
nvautoinstall==0.4.0
oauthlib==3.1.1
olefile==0.46
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.5
paramiko==2.9.1
parse==1.18.0
Paste==3.5.0
pep8==1.7.1
pexpect==4.8.0
pid==2.2.3
Pillow==8.1.2
pipenv==2020.11.15
pipreqs==0.4.8
platformdirs==2.4.0
plette==0.2.3
ply==3.11
productmd==1.33
progressbar2==3.52.1
protobuf==3.19.3
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.20.1
pycodestyle==2.8.0
pycountry==20.7.3
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.12.0
pycups==2.0.1
pycurl==7.43.0.6
pyDes==2.0.1
pyenchant==3.2.1
PyGetWindow==0.0.9
pygit2==1.5.0
Pygments==2.7.4
PyGObject==3.40.1
pykickstart==3.32
pylint==2.11.1
PyMsgBox==1.0.9
PyNaCl==1.4.0
pynvim==0.4.3
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.28
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-meh==0.50
python-utils==2.4.0
python3-xlib==0.15
pytube==11.0.1
pytweening==1.0.4
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
ranger-fm==1.9.3
rapidfuzz==1.8.3
regex==2021.11.10
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==10.12.0
rpm==4.16.1.3
rpmautospec==0.2.5
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
selinux==3.2
semver==2.13.0
sepolicy==3.2
setools==4.4.0
shellingham==1.3.2
simber==0.2.3
simpleaudio==1.0.4
simpleline==1.8
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
sniffio==1.2.0
sos==4.1
soupsieve==2.2
speedtest-cli==2.1.3
spotdl==3.9.0
spotipy==2.19.0
systemd-python==234
Tempita==0.5.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
texttable==1.6.2
threadpoolctl==3.0.0
thrift==0.14.0
toml==0.10.2
tomlkit==0.7.0
typing-extensions==3.10.0.2
Unidecode==1.3.2
urllib3==1.26.7
virtualenv==20.4.0
virtualenv-clone==0.5.4
websocket-client==0.57.0
websockets==10.1
Werkzeug==2.0.2
wrapt==1.12.1
yarg==0.1.9
youtube-search-python==1.4.9
yt-dlp==2021.12.27
ytmdl==2021.8.1
ytmusicapi==0.19.3
zipp==3.7.0
